html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Page
==================*/

.page {
    width: 100%;
    height: 100vh;

    background: #000 url("../img/bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    position: relative;
}


/* Header
==================*/
.header {
    padding: 1rem 0;
    background-color: #2B7DED;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-brand {
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}


.header-logo img {
    display: block;
}


.header-nav {
    display: flex;
}
.header-nav-link {
    margin-left: 1.5rem;

    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;

    transition: color .2s linear;
}

.header-nav-link:hover {
    color: cyan
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: white;

    position: absolute;
    left: 0;
    bottom: -3px;
}



/* Content
==================*/

.content {
    margin-top: 105px;
    width: 639px;
}

.subtitle {
    font-size: 21px;
    font-weight: 300;
    color: white;
    opacity: 60%;
}

.title {
    margin-bottom: 36px;

    font-size: 30px;
    font-weight: 500;
    color: white;

    line-height: 1.2;
}

.title span {
    color: #2B7DED;
}

.text {
    margin-bottom: 50px;

    font-size: 15px;
    font-weight: 400;
    color: white;

    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 5px;
}

/* Button Contact Me
=====================*/

.btn {
    display: inline-block;

    font-weight: 500;
    color: white;
    text-decoration: none;
    line-height: 1.1;

    padding: 12px 35px;

    background-color: #2B7DED;
    border-radius: 3px;

    transition: background .2s linear;
}

.btn:hover {
    background-color: #2266c4;
}

.btn:active {
    background-color: #1c54a2;
}


/* My photo
==================*/

.author {
    position: absolute;
    bottom: 0;
    right: 20px;
}


/* Footer
==================*/

.footer {
    width: 100%;
    position: absolute;
    bottom: 45px;
    left: 0;
}

.contacts {
    display: flex;
    align-items: center;
}

.contacts-link {
    margin-right: 5rem;

    font-size: 1rem;
    font-weight: 500;

    color: white;
    text-decoration: none;
}

.contacts-link:last-child {
    margin-right: 0px;
    position: relative;
}

.contacts-link:last-child:after {
    content: '';
    display: block;
    width: 80px;
    height: 2px;

    background-color: white;

    pointer-events: none;

    position: absolute;
    left: 150%;
    top: 50%;
}

.contacts-link:hover {
    text-decoration: underline;
}

.contacts-icon {
    margin-right: 5px;
}








